@font-face {
  font-family: "Agrandir";
  src: url("/PPAgrandir-Regular.otf");
}

body,
html {
  overflow-x: hidden;
  background-color: #1e1e1e;
  background-image: url("/grid.svg");
}

.MuiTypography-root {
  cursor: default;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
}

.wave {
  --mask: radial-gradient(
        15.21px at 50% calc(100% + 7px),
        #0000 calc(99% - 6px),
        #000 calc(101% - 6px) 99%,
        #0000 101%
      )
      calc(50% - 20px) calc(50% - 8px + 0.5px) / 40px 16px repeat-x,
    radial-gradient(
        15.21px at 50% -7px,
        #0000 calc(99% - 6px),
        #000 calc(101% - 6px) 99%,
        #0000 101%
      )
      50% calc(50% + 8px) / 40px 16px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

* {
  color-scheme: dark;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 5px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px hsl(173, 56.6%, 14.8%);
  border-radius: 99px;
  border: solid 5px transparent;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 40;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.shortcut {
  background-color: var(--mint6) !important;
  animation: pulse 1s infinite;
}

:root {
  --mint1: hsl(75, 55%, 6%);
  --mint2: hsl(78, 41.5%, 8%);
  --mint3: hsl(81, 38.1%, 11%);
  --mint4: hsl(81, 39.4%, 13.1%);
  --mint5: hsl(81, 40.8%, 15.3%);
  --mint6: hsl(80, 42.6%, 18.4%);
  --mint7: hsl(78, 45.4%, 24%);
  --mint8: hsl(75, 49.7%, 35.1%);
  --mint9: hsl(81, 80%, 66%);
  --mint10: hsl(75, 85%, 60%);
  --mint11: hsl(70, 70%, 50%);
  --mint12: hsl(80, 80%, 85%);
}
.hg-theme-default {
  background-color: var(--mint2);
  font-size: 16px;
  box-sizing: border-box;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
  overflow: hidden;
  padding: 8px;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}
.hg-theme-default .hg-button span {
  pointer-events: none;
}
.hg-theme-default button.hg-button {
  border-width: 0;
  font-size: 18px;
  outline: 0;
}
.hg-theme-default .hg-button {
  display: inline-block;
  flex-grow: 1;
}
.hg-theme-default .hg-row {
  display: flex;
}
.hg-button-tab,
[data-skbtn="caps"],
[data-skbtn="shift"] {
  min-width: 70px;
  padding-left: 10px !important;
  justify-content: flex-start !important;
}
[data-skbtn="caps"] {
  min-width: 65px;
}
[data-skbtn="shift"] {
  min-width: 80px;
}
.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}
.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}
.hg-theme-default .hg-button {
  align-items: center;
  background: var(--mint3);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hg-theme-default .hg-button.hg-standardBtn {
  width: 40px;
}
.hg-button-alt {
  max-width: 80px;
}
.hg-theme-default .hg-button.hg-activeButton {
  background: var(--mint4);
}
.hg-theme-default.hg-layout-numeric .hg-button {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 33.3%;
}
.hg-theme-default .hg-button.hg-button-numpadadd,
.hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}
.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}
.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}
.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}
.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: #fff;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"] {
  max-width: 82px;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {
  max-width: 60px;
}
.hg-candidate-box {
  background: #ececec;
  border-bottom: 2px solid #b5b5b5;
  border-radius: 5px;
  display: inline-flex;
  margin-top: -10px;
  max-width: 272px;
  position: absolute;
  transform: translateY(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
ul.hg-candidate-box-list {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
li.hg-candidate-box-list-item {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
li.hg-candidate-box-list-item:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
li.hg-candidate-box-list-item:active {
  background: rgba(0, 0, 0, 0.1);
}
.hg-candidate-box-prev:before {
  content: "◄";
}
.hg-candidate-box-next:before {
  content: "►";
}
.hg-candidate-box-next,
.hg-candidate-box-prev {
  align-items: center;
  color: #969696;
  cursor: pointer;
  display: flex;
  padding: 0 10px;
}
.hg-candidate-box-next {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.hg-candidate-box-prev {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.hg-candidate-box-btn-active {
  color: #444;
}
