@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(
    .material-symbols-rounded,
    .material-symbols-rounded *,
    .material-symbols-outlined,
    .material-symbols-outlined *,
    .MuiIcon-root,
    .MuiIcon-root *,
    .text-heading,
    .text-heading *
  ) {
  font-family: "DM Sans", sans-serif !important;
}

.text-heading {
  font-family: "DM Serif Display", serif !important;
}

.feature-title {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

@layer components {
  .nav-btn {
    @apply hover:ring-0 active:ring-0 focus-visible:ring-2 ring-black outline-none p-2 rounded-full px-4 flex items-center gap-2 text-gray-200 hover:text-white hover:bg-[rgba(255,255,255,.1)] active:bg-[rgba(255,255,255,.2)];
    .elevated & {
      @apply hover:bg-gray-100 active:bg-gray-200 text-gray-500 hover:text-gray-900;
    }
  }
  .header-btn {
    @apply flex bg-green-800 px-5 py-3 rounded-full gap-5 hover:bg-green-900 text-green-200 hover:text-green-100 active:text-green-50 outline-none focus-visible:ring-2 ring-green-200;
    &:active {
      background: rgb(12, 53, 28);
    }
  }
  .stats-item {
    @apply text-3xl mb-1;
    font-weight: 700;
  }
  .feature-sub {
    @apply flex gap-2 mb-2 text-gray-500;
  }
  .security-title {
    @apply text-2xl mb-1;
  }
  .dropdown-item {
    @apply flex gap-5 items-center px-5 py-3 hover:bg-neutral-900 text-gray-200 hover:text-gray-50 active:text-white active:bg-neutral-800;
  }
  .security-card {
    @apply hover:backdrop-blur-xl hover:bg-[rgba(200,200,200,.2)] p-4 rounded-xl;
  }
  .footer-btn {
    @apply hover:underline mt-2 flex hover:text-gray-50 active:text-white;
  }
}
body {
  overflow-x: hidden;
}
* {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  outline: none;
}
.embla {
  overflow: hidden;
}
.embla__container {
  transition: height 0.2s;
  align-items: flex-start;
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.material-symbols-outlined {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-display: block !important;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  font-variation-settings: "FILL" 0, "wght" 350, "GRAD" 0, "opsz" 40;
}

.font-\[700\] {
  font-weight: 700 !important;
}

.material-symbols-rounded {
  font-display: block !important;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 40;
}

.animate-announcement {
  animation: animateAnnouncement 5s ease-in-out infinite;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 33%,
    rgba(255, 255, 255, 0.3) 66%,
    rgba(0, 0, 0, 0)
  );
  display: block;
  height: 500px;
  transform: rotate(45deg);
  width: 150px;
  position: absolute;
  top: -150px;
  left: 0;
}
@keyframes animateAnnouncement {
  0% {
    left: -120%;
  }
  50% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}
